<%= form_for(transaction) do |f| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">        
    <%= label :transaction_type_receita, 'Receita' %>
    <%= f.radio_button :transaction_type, 'R', :checked => true %>        
    <%= label :transaction_type_receita, 'Despesa' %>
    <%= f.radio_button :transaction_type, 'D' %>    
  </div>

  <div class="field">
    <%= f.label :usuario %>    
    <%= f.collection_select :user_id, @users, :id, :name, include_blank: false %>
  </div>

  <div class="field">
    <%= f.label :conta %>
    <%= f.collection_select :account_id, @accounts, :id, :name, include_blank: false %>
  </div>

  <div class="field">
    <%= f.label :categoria %>
    <%= f.collection_select :category_id, @categories, :id, :title, include_blank: false %>
  </div>

  <div class="field">
    <%= f.label :valor %>
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label :data %>
    <%= f.date_select :transaction_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>