<%= render "layouts/menu" %>
<h1>Cadastro de Transação</h1>
<% if flash[:success] %>
   <%= flash[:success] %>
<% end %>
<%= form_for @transaction do |t| %>
  <%= t.hidden_field :user_id, :value => @user_id %>
  <%= t.label "Conta: " %>
  <%= t.select :account_id, Account.all.order(:name).collect{|p| [p.name, p.id]}, include_blank: true %>
  <%= t.label :amount, "Quantia: " %>
  <%= t.text_field :amount %>
  <%= t.label "Categoria: " %>
  <%= t.select :category_id, Category.all.order(:description).collect{|p| [p.description, p.id]}, include_blank: true %>
  <%= t.submit "Incluir" %>
  <% if flash[:error] %>
    <br>
    <% flash[:error].each do |m| %>
      <br><%= t.label m %>
    <% end %>
  <% end %>
<% end %>
