<%= stylesheet_link_tag "style.css" %>
<ul>
  <li><%=link_to "Home", "/home"%></li>
  <li><%=link_to "Contas", "/accounts"%></li>
  <li><%=link_to "Categorias", "/categories"%></li>
  <li><%=link_to "Transações", "/transactions/new"%></li>
  <li><%=link_to "Alterar Senha", "/password"%></li>            
  <li><%=link_to "Sair", "/logout"%></li>
</ul>       
