<!DOCTYPE html>
<html>
<head>
  <title>Pluto </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="bottom-menu">
    <ul class="bottom-nav">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li style="float:right"><a href="/login/">Login&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span></a></li>
    </ul>
  </div>

  <div id="left-menu">
    <ul class="left-nav">
      <li><a href="/accounts"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;Contas</a></li>
      <li><a href="/categories"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Categorias</a></li>
      <li><a href="/wallets"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Carteiras</a></li>
      <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Configurações</a></li>
    </ul>
  </div>

  <div id="container">
    <%= yield %>
  </div>
<% if notice %>
<div id="flash-notice" class="alert alert-success"><%= notice %></div>
<% end %>
<% if alert %>
<div id="flash-alert" class="alert alert-danger"><%= alert %></div>
<% end %>
</body>
</html>
