<html>
    <head>
        <title>Contas</title>
    </head>
    <body>
      <%= render "layouts/menu" %>
        <table border="1">
            <thead>
                <tr>
                    <th width="300">Nome</th>
                    <th width="300">Saldo</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <% @contas.each do |account| %>
                <tr>
                    <td><%= account.name %></%></td>
                    <td><%= account.balance %></%></td>
                    <td><%= button_to "Excluir", account, method: :delete %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= flash_message %>
        <br><br>
        <%= link_to "Criar nova conta", :accounts_new %>
    </body>
</html>
