<html>
    <head>
        <title>Contas</title>
        <%= stylesheet_link_tag "style.css" %>
    </head>
    <body>
        <ul>
            <li><%=link_to "Home", "/home"%></li>
            <li><%=link_to "Contas", "/accounts"%></li>
            <li><%=link_to "Categorias", "/categories"%></li>
            <li><%=link_to "Transações", "/transactions/new"%></li>
            <li><%=link_to "Alterar Senha", "/password"%></li>            
            <li><%=link_to "Sair", "/logout"%></li>
        </ul>
        <table border="3">
            <thead>
                <tr>
                    <th width="300">Nome</th>
                    <th width="300">Saldo</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <% @contas.each do |account| %>
                <tr>
                    <td><%= account.name %></%></td>
                    <td><%= account.balance %></%></td>
                    <td><%= button_to "Excluir", account, method: :delete %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= flash_message %>
        <br><br>
        <%= link_to "Criar nova conta", :accounts_new %>
    </body>
</html>